.checkout{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;

}

.checkout-wrap{
    margin-right: 20px;
    margin-left: 80px;
    width: 600px;
    margin-right: 50px;
    margin-top: 0px;
    

}

.r-title {
    font-size: 26px;
    font-weight: 600;
}


.dates-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.t-d{
    font-size: 18px;
    font-weight: 600;
    
}

.d-1{
    font-size: 16px;
    font-weight: 600;
    height: 16px;
}

.n-1{
    font-size: 16px;
    font-weight: 600;
    height: 16px;
}


.num-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.book-details {
    border-bottom: 1px solid #ddd;
    height: 200px;
    width: 620px;
    margin-top: 40px;
}


.form-wrap{
    margin-top: 20px;
}


.r-book-card{
    border:   1px solid rgb(221, 221, 221) !important;
    border-radius: 12px;
    padding: 20px;
    width: 466px;
    height: 380px;
    margin-left: 50px ;
    margin-top: 95px;
    position:sticky;
    top: 170px;
 }

  

.r-details{
   font-size: 20px;
   font-weight: 500;
}

 .item{
    display: flex;
    flex-direction: row;
 }

 .r-item-card {
    padding-top: 5px;
   
 }

.i-img {
    width: 134px;
    height: 106px;
    object-fit: cover;
    border-radius: 6px;
    

 } 

 .i-img-box {
    
 }

 .trip-d {
    margin-left: 20px;
 }

 .i-d1{
   overflow-y: auto;
   margin-bottom: 0px;
   
 }

 .i-1 {
    font-size: 16px;
    font-weight: 500;
    
 }

 .i-d2 {
    margin-top: 0px;
   

 }

 .i-2 {
    font-size: 12px;
    line-height: 16px;
  
    color: #717171;
    
 }

 .r-price-div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-top: 10px;
 }

 .price-d{
    font-size: 20px;
    font-weight: 500;
    padding-top: 6px;
 }

 .pd-1 {

 }

 .pd-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    padding-bottom: 6px;

 }

 .gp-1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(34, 34, 34) ;
 }

 .rd-p{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 3px;
    justify-content: space-between;
 }


.payment-div {
  margin-top: 30px;

}

.pw1-d {
   height: 35px;
}

.p-w-1 {
   font-size: 20px;
   font-weight: 600;
}

.p-w-2 {
   font-size: 10px;
   font-weight: 300;
   color: #afabab;
}

.pw2-d{
   margin-left: 445px;
}

.pd-wrap {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .pay-with {
   margin-top: 2px;
 }
 .khalti {
   margin-left: 415px;
   cursor: pointer;
 }
 .khalti-icon {
   height: 50px;
   width: 100px;
 }

.img-click {
   display:  flex;
   flex-direction: column;
   
  
}

.r-book-button {
   border-top: 1px solid #ddd;
   padding: 24px;
}

.rb-1 {
   height: 56px;
   width: 204px;
   background: linear-gradient(to right, #00c9ff,
    #92fe9d);
   font-size: 18px;
   border: none !important;

}

.rb-2 {
   height: 56px;
   width: 204px;
   background: linear-gradient(to right, #11998e,
    #38ef7d);
   font-size: 18px;
   border: none !important;

}
