.modal-content {
   height: 600px;
   width: 600px;

}

.modal-title {
   padding-left: 180px;
 
}

.modal-title.h4{
   font-size: 16px;
   
}

.modal-body-text{
   font-size: 20px ;
   font-weight: 600;
   
}