.trip-div {
    background-color: red;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
   
    
}

.tripWrap{
    display: flex;
    flex-direction: column;
   
    
    

}
.trip-title{
    height: 26px;
    margin-bottom:10px ;
    margin-left: 4px;
}
.title{
    font-size: 26px;
    
}

.title-details {
    display: flex;
    flex-direction: row;
    
}


.details{
    margin-top: 0.1px;
    padding-left: 7px;
    font-size: 17px;
}

.rating-num{
    margin-top: 0.1px;
    font-size: 17px;
}

.trip-images{
    display: flex;
    flex-direction: row;
    
}
.trip-img{
    width: 560px;
    height: 388px;
    object-fit: cover;
    border-radius: 3px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
}
.grid-img {
    border-radius: 3px;
    width: 272px;
    height: 188.9px;
    
}
